{{ $baseUrl := .Site.BaseURL }}

{{ if (not .IsHome) }}
<div class="sidebar-bio">
  <!-- avatar -->
  <div class="sidebar-bio-wrapper">
    <img class="sidebar-bio-image" src="{{ $baseUrl }}img/avatar.png" alt="Avatar" onclick="window.location.href='{{ $baseUrl }}'" style="cursor: pointer;">
  </div>
  <span class="sidebar-bio-name">Elad Gariany</span>

  <div class="sidebar-bio-description">
    <span>software engineer | musician | entrepreneur</span>
  </div>
</div>
{{ end }}
    
<div class="sidebar-navigation">
  <!-- desktop menu -->
  <ul>
    <li><a href='/'><span>Home</span></a></li>
    <li><a href='/about'><span>About</span></a></li>
    <li><a href='/categories'><span>Posts</span></a></li>
    <li class='last'><a href='mailto:elad@eladgariany.com'><span>Email Me</span></a>
  </ul>  
</div>

<div class="sidebar-tags">
  {{ partial "sidebar/tags.html" . }}
</div>

<div class="sidebar-social">
  {{ partial "sidebar/social.html" . }}
</div>