{{ $baseUrl := .Site.BaseURL }}

{{ partial "sidebar/background.html" . }}

<div class="sidebar_pad">
  {{- partial "sidebar/bio.html" . -}}

  <div class="sidebar_navigation">
    {{ partial "sidebar/navigation_mobile.html" . }}
    {{ partial "sidebar/navigation_desktop.html" . }}
  </div>

  <div class="bottom-xs">
    <div class="row center-xs">
      {{ partial "sidebar/tags.html" . }}
    </div>

    <div class="row center-xs">
      {{ partial "sidebar/social.html" . }}
    </div>
  </div>
</div>