{{ $baseUrl := .Site.BaseURL }}

<div class="row social-container">
  <div style="display: flex;justify-content: space-around;">
    <a href="https://twitter.com/elad_g" title="Twitter" target="blank"><i class="fa fa-twitter"></i></a>
    <a href="https://github.com/eladg/" title="GitHub" target="blank"><i class="fa fa-github"></i></a>
    <a href="mailto:elad@gariany.com" title="Gmail" target="blank"><i class="fa fa-envelope"></i></a>
    <a href="https://soundcloud.com/elad" title="Soundcloud" target="blank"><i class="fa fa-soundcloud"></i></a>
    <a href="https://www.gariany.com/index.xml" title="RSS" target="blank"><i class="fa fa-rss"></i></a>
  </div>
</div>