.bio-space {
  padding-right: 1.0rem;
  padding-left: 1.0rem;
}

.bio-wrapper {
/*  background-image: url('/img/bio_bg.png');
  background-size: cover;
  background-position: center;
*/}

.bio_title, .project_title, .recentPost_title {
  font-size: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #ccc;
  font-weight: bold;
  text-align: left;
}

.bio_description {
  font-size: 20px;
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
}

.bio_description a {
  transition: 0.7s;
  text-decoration: none;
  /*letter-spacing: 2px;*/
  font-size: 20px;
  color: #aaa;
  /*padding: 10px;*/
  border-radius: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}

.bio_description a:hover {
  color: #e82626;
}

.current_projects_images {
  justify-content: space-around;
}

.current_projects_images img {
  width: 150px;
  min-width: 0;
}

.current_projects_wrapper {
  display: flex;
  flex-direction: column;
  border-bottom: 2px dotted #ddd;
  padding: 0% 0px;
}

.current_projects_title {
  display: flex;
}