.sidebar-right {
  position: fixed;
  background-color: #000000;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
}

.tags-list {
  margin-top: 3em;
  width: 100%;
}

.tags-list ul {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1rem;
    font-size: 13px;
    /*width: 350px;*/
}

.tags-list li {
  list-style-type: none;
  padding-right: 7px;
  font-size: 13px;
}

.tags-list li a {
  color: #aaa;
  font-size: 13px;
  text-decoration-line: none;
  font-family: monospace;

}

.tags-list li a:hover, li a:focus {
  color: #ffffff;
}

.social-container a {
  transition: 0.7s;
    color: #aaa;
    padding: 0 3px;
}

.social-container a:hover {
  color: #fff;
}

.social-container {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /*margin-top: 20rem;*/
}

.social-container a i {
    font-size: 30px;
}