/* style.css */

:root {
  --color-text-primary: #000000;
  --color-text-secondary: #aaaaaa;
  --color-text-hover: #e82626;
  --color-text-white: #ffffff;
  --color-text-gray: #555555;
  --color-border: #cccccc;
  --color-background-dark: #000000;
  --color-background-light: #ffffff;
}

html {
  overflow-y: hidden;
  height: 100%;
}

body {
  background-color: var(--color-background-light);
  line-height: 1.42857143;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "medium-content-serif-font", Georgia, Cambria, "Times New Roman", Times, serif;
  text-rendering: optimizelegibility;
  letter-spacing: 0px;
}

h1 {
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
}

h2 {
  font-size: 34px;
  margin-top: 56px;
}

h3 {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: -0.316667px;
  line-height: 31.7167px;
}

h4 {
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  color: #aaa;
}

p, ul, li, a {
  margin: 0;
  font-size: 21px;
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
}

p {
  display: block;
  margin-top: 38px;
  line-height: 1.58;
}

p img {
  margin: 0;
}

a {
  color: #000;
}

figure {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 52px;
}

hr {
  margin-bottom: 3em;
  margin-top: 2em;
}

.site-grid {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
}

.site-body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  overflow: hidden;  
}

.sidebar-container { 
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-image: url('/img/cover.png');
  background-color: #111111;
  background-blend-mode: soft-light;
}

.content-container {
  background-image: url('/img/cover.png');
  background-color: #f1f1f1;
  background-blend-mode: lighten;
  height: 100vh;
  overflow-y: scroll;
}

article {
  display: flex;
  flex-direction: column;
  min-height: 800px;
  margin-right: 4em;
  margin-left: 4em;
  margin-top: 3em;
  margin-bottom: 9em;
}

.header {
  padding-top: 3.5em;
}

.content {
  display: block;
  right: 0;
  width: 100%;
}

.posts-list {
  display: inline-grid;
  list-style-type: none;
  width: 100%;
  padding-left: 0;
}

.posts-title {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: -0.316667px;
  line-height: 31.7167px;
  margin-right: 0;
  margin-left: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}

.site-date-catalog {
  color: #bbb;
}

.posts-list-item {
  margin-bottom: 0.3em;
}

.posts-date {
  font-size: 12px;
}

.posts-list-item a {
  font-size: 1em;
  text-decoration: none;
}

.posts-list-item-description {
  color: #373636;
  font-size: 20px;
  opacity: 0.8;
  text-align: left;
  vertical-align: top;
  font-family: monospace;
}

.posts-list-item-description span {
  width: 50%;
}

.posts-list-item .posts-list-item-description {
  font-size: 12px;
}

.posts-list-item-description a {
  color: #bbb;
  padding: 0px 4px 0px 4px;
  background: rgba(255, 255, 255, 0.2);
  font-size: 1em;
  text-transform: lowercase;
  vertical-align: top;
}

.pagination {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pagination-item {
  float: left;
  margin-right: 10px;
}

.pagination-link {
  color: var(--color-text-hover);
  text-decoration-line: none;
}

.recent-posts li a:hover, li a:focus { 
  color: #ffffff; 
}

img {
  max-width: 100%;
}

a:hover,
a:focus {
  color: var(--color-text-hover);
  text-decoration: underline;
}

.avatar {
  border-radius: 50%;
  border-width: 3px;
  border-color: #ffffff;
  border-style: solid;
  min-width: 0;
  max-height: 400px;
  filter: drop-shadow(0px 0px 9px #ccc);
}

blockquote p {
  border-left-style: solid;
  border-left-width: 3px;
  border-left-color: rgba(0,0,0,0.84);
  padding-left: 14px;
}

pre {
  /*max-width: 740px;*/
  margin-left: auto;
  margin-right: auto;
  white-space: pre-line;
}

ol {
  max-width: 740px;
}

iframe {
  width: 100%;
}

.align-right {
  float: right;
}

.posts-list-item a:link,
.posts-list-item a:active,
.posts-list-item a:visited {
  color: #000;
}

/* left_sidebar.css */

.sidebar-navigation {
  padding: 1em 1em 1em 1em;
  line-height: 1;
  margin-top: auto;
}

.sidebar-navigation ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-inline-start: 0;
}


.sidebar-navigation ul li {
  padding: 5px 0px;
}

.sidebar-navigation ul li a {
  color: #fff;
  letter-spacing: 2px;
  font-size: 28px;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease;
  display: inline-block;
}

.sidebar-navigation ul li a:hover {
  transform: translateX(2px);
  color: #e82626;
}

.sidebar-bio-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.sidebar-bio-name {
  font-size: 42px;
  font-weight: 400;
  color: var(--color-text-white);
  text-align: center;
  letter-spacing: 4px;
}

.sidebar-bio-description {
  font-size: 16px;

  color: var(--color-text-secondary);
  text-align: center;
}

.sidebar-social {
  padding: 1em;
}

.sidebar-bio {
  display: flex;
  flex-direction: column;
  padding: 4em 1em 4em 1em;
  color: var(--color-text-secondary);
}

.sidebar-bio-image {
  width: 45%;
  border-color: #ffffff;
  border-style: solid;
  border-radius: 50%;
}

.sidebar-hide {
  opacity: 0.6;
}

.sidebar-btn a {
  font-size: 28px;
  color: #ffffff;
  text-decoration: none;
}

.sidebar-btn a:hover,
.sidebar-btn a:focus {
  color: #e82626;
  text-decoration: none;
}

.tags-list ul {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1rem;
  font-size: 13px;
}

.tags-list li {
  list-style-type: none;
  padding-right: 7px;
  font-size: 13px;
}

.tags-list li a {
  color: var(--color-text-secondary);
  font-size: 13px;
  text-decoration-line: none;
  font-family: monospace;

}

.tags-list li a:hover, li a:focus {
  color: #ffffff;
}

.social-container {
  padding-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.social-container a {
  transition: 0.7s;
  color: var(--color-text-secondary);
  padding: 0 3px;
}

.social-container a:hover {
  color: var(--color-text-white);
}

.social-container a i {
  font-size: 30px;
}

.tags-list {
  width: 100%;
}

.tags-list ul {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1rem;
    font-size: 13px;
    /*width: 350px;*/
}

.tags-list li {
  list-style-type: none;
  padding-right: 7px;
  font-size: 13px;
}

.tags-list li a {
  color: #555;
  font-size: 13px;
  text-decoration-line: none;
  font-family: monospace;

}

.tags-list li a:hover, li a:focus {
  color: #ffffff;
}

/* homepage.css */
.bio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  gap: 2em;
}

.bio-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  width: 100%;
}

.bio-projects {
  width: 100%;
}

.bio-description {
  font-size: 20px;
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
}

.bio-description p {
  margin: 0;
}

.bio-description a {
  transition: 0.7s;
  text-decoration: none;
  font-size: 20px;
  color: var(--color-text-secondary);
  border-radius: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}

.bio-description a:hover {
  color: #e82626;
}

/* responsive.css */
@media screen and (max-width: 1020px) {

  article {
    padding-top: 3em;
  }

  .site-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 10px;
  }

  .bio-top {
    flex-direction: column;
  }

  .bio-container {
    padding-right: 0em;
    padding-left: 0em;
  }

  .sidebar-container {
    width: 100%;
    z-index: 10;
  }

  .sidebar-navigation {
    margin-top: 0;
    display: flex;
    justify-content: start;
  }

  .sidebar-navigation ul {
    display: none;
    background-color: #111111;
    width: 100%;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }

  .sidebar-navigation ul.show {
    display: flex;
  }

  .sidebar-navigation::before {
    content: '☰';
    display: block;
    color: #fff;
    font-size: 32px;
    cursor: pointer;
    padding: 10px;
  }

  .sidebar-navigation.active::before {
    content: '×';
  }

  .sidebar-navigation.active ul {
    display: flex;
  }
  
  .sidebar-bio {
    display: none;
  }

  .sidebar-tags {
    display: none;
  }

  .sidebar-social {
    display: none;
  }

  .content {
    margin: 0;
    margin-top: 7em;
  }

  .avatar {
    width: 250px!important;
  }
  article {
    margin: 0 2em;
  }
  .project_title {
    font-size: 30px;
    padding: 0 0 30px;

  }
}
