/* style.css */

:root {
  --color-text-primary: #000000;
  --color-text-secondary: #aaaaaa;
  --color-text-hover: #e82626;
  --color-text-white: #ffffff;
  --color-text-gray: #555555;
  --color-border: #cccccc;
  --color-background-dark: #000000;
  --color-background-light: #ffffff;
}

html {
  overflow-y: hidden;
  height: 100%;
}

body {
  background-color: var(--color-background-light);
  line-height: 1.42857143;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "medium-content-serif-font", Georgia, Cambria, "Times New Roman", Times, serif;
  text-rendering: optimizelegibility;
  letter-spacing: 0px;
}

h1 {
  font-size: 42px;
  font-style: normal;
  font-weight: 400;
}

h2 {
  font-size: 34px;
  margin-top: 56px;
}

h3 {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: -0.316667px;
  line-height: 31.7167px;
}

h4 {
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  color: #aaa;
}

p, ul, li, a {
  margin: 0;
  font-size: 21px;
  padding-inline-start: 0;
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
}

p {
  display: block;
  margin-top: 38px;
  line-height: 1.58;
}

p img {
  margin: 0;
}

a {
  color: #000;
}

figure {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 52px;
}

hr {
  margin-bottom: 3em;
  margin-top: 2em;
}

/******************************************************************************
  Layout Classes
******************************************************************************/

.site-grid {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
}

.site-body {
  display: grid;
  grid-template-columns: 1fr 3fr;
  overflow: hidden;  
}

.sidebar-container { 
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  background-image: url('/img/cover.png');
  background-color: #111111;
  background-blend-mode: soft-light;
}

.content-container {
  overflow-y: scroll;
}

.projects-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;
}

.projects-wrapper a {
  flex: 1;
  min-width: 200px;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-wrapper img {
  width: 100%;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.projects-wrapper img:hover {
  transform: scale(1.05);
}


article {
  display: flex;
  flex-direction: column;
  min-height: 800px;
  margin-right: 4em;
  margin-left: 4em;
  margin-top: 3em;
  margin-bottom: 9em;
  background-color: var(--color-background-light);
}


.header {
  padding-top: 3.5em;
}

.footer {
  bottom: 0;
  position: absolute;
}

.card {
    color: #4a4a4a;
}

.content {
  display: block;
  right: 0;
  width: 100%;
}

.posts-list {
  display: inline-grid;
  list-style-type: none;
  width: 100%;
  padding-left: 0;
}

.posts-title {
  font-size: 26px;
  font-weight: 600;
  letter-spacing: -0.316667px;
  line-height: 31.7167px;
  margin-right: 0;
  margin-left: 0;
  margin-top: 1em;
  margin-bottom: 1em;
}

.site-date-catalog {
  color: #bbb;
}

.posts-list-item {
  margin-bottom: 0.3em;
}

.posts-date {
  font-size: 12px;
}

.posts-list-item a {
  font-size: 1em;
  text-decoration: none;
}

.posts-list-item-description {
  color: #373636;
  font-size: 20px;
  opacity: 0.8;
  text-align: left;
  vertical-align: top;
  font-family: monospace;
}

.posts-list-item-description span {
  width: 50%;
}

.posts-list-item .posts-list-item-description {
  font-size: 12px;
}

.posts-list-item-description a {
  color: #bbb;
  padding: 0px 4px 0px 4px;
  background: rgba(255, 255, 255, 0.2);
  font-size: 1em;
  text-transform: lowercase;
  vertical-align: top;
}

.pagination {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pagination-item {
  float: left;
  margin-right: 10px;
}

.pagination-link {
  color: var(--color-text-hover);
  text-decoration-line: none;
}

.recent-posts li a:hover, li a:focus { 
  color: #ffffff; 
}

img {
  max-width: 100%;
}

a:hover,
a:focus {
  color: var(--color-text-hover);
  text-decoration: underline;
}

article a {
  color: #000;
}

.avatar {
  border-radius: 50%;
  border-width: 3px;
  border-color: #ffffff;
  border-style: solid;
  min-width: 0;
  max-height: 400px;
  filter: drop-shadow(0px 0px 9px #ccc);
}

blockquote p {
  border-left-style: solid;
  border-left-width: 3px;
  border-left-color: rgba(0,0,0,0.84);
  padding-left: 14px;
}

pre {
  /*max-width: 740px;*/
  margin-left: auto;
  margin-right: auto;
  white-space: pre-line;
}

ol {
  max-width: 740px;
}

iframe {
  width: 100%;
}

.align-right {
  float: right;
}

.posts-list-item a:link,
.posts-list-item a:active,
.posts-list-item a:visited {
  color: #000;
}

/* left_sidebar.css */
.sidebar-bio-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.sidebar-bio-name {
  font-size: 42px;
  font-weight: 400;
  color: var(--color-text-white);
  text-align: center;
  text-justify: center;
}

.sidebar-bio-description {
  font-size: 16px;

  color: var(--color-text-secondary);
  text-align: center;
}

.sidebar-social {
  padding: 1em;
}

.sidebar-bio {
  display: flex;
  flex-direction: column;
  padding: 4em 1em 4em 1em;
  color: var(--color-text-secondary);
}

.sidebar-bio-image {
  width: 45%;
  border-color: #ffffff;
  border-style: solid;
  border-radius: 50%;
}

.sidebar-navigation {
  padding: 1em 1em 1em 1em;
  line-height: 1;
  margin-top: auto;
}

.sidebar-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}

.sidebar-navigation ul li {
  position: relative;
  margin: 0;
  padding: 0;
}

.sidebar-navigation ul li a {
  text-decoration: none;
  cursor: pointer;
}

.sidebar-navigation > ul > li > a {
  color: #fff;
  display: block;
  padding: 10px 0px;
  letter-spacing: 1px;
  font-size: 28px;
  font-weight: 300;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  position: relative;
}

.sidebar-navigation > ul > li:first-child > a {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.sidebar-navigation > ul > li:last-child > a {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.sidebar-navigation > ul > li:hover > a,
.sidebar-navigation > ul > li.open > a,
.sidebar-navigation > ul > li.active > a {
  color: #fff;
}

.sidebar-navigation ul > li.has-sub2::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top-color: #dddddd;
  z-index: 2;
  right: 20px;
  top: 24.5px;
  pointer-events: none;
}

.sidebar-navigation ul > li:hover::after,
.sidebar-navigation ul > li.active::after,
.sidebar-navigation ul > li.open::after {
  border-top-color: #ffffff;
}

.sidebar-navigation ul > li.has-sub.open > a::after {
  opacity: 1;
  bottom: -13px;
}

.sidebar-navigation ul > li.has-sub.open > a::before {
  opacity: 1;
  bottom: -12px;
}

.sidebar-navigation ul ul {
  display: none;
}

.sidebar-navigation ul ul li a {
  display: block;
  position: relative;
  padding: 4px 0px;
  color: #DF2D4F;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 2px;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
}

.sidebar-navigation ul ul li a:hover {
  color: #fff;
}

.sidebar-navigation ul ul ul li {
  border: 0;
}

.sidebar-navigation ul ul > li.has-sub > a::after {
  border-top: 13px solid #dddddd;
}

.sidebar-navigation ul ul > li.has-sub > a::before {
  border-top: 13px solid #e4e4e4;
}

.sidebar-navigation ul ul ul li a {
  padding-left: 30px;
}

.sidebar-navigation ul ul > li.has-sub::after {
  top: 18.5px;
  border-width: 6px;
  border-top-color: #777777;
}

.sidebar-navigation ul ul > li:hover::after,
.sidebar-navigation ul ul > li.active::after,
.sidebar-navigation ul ul > li.open::after {
  border-top-color: #666666;
}

.sidebar-hide {
  opacity: 0.6;
}

.sidebar-btn a {
  font-size: 28px;
  color: #ffffff;
  text-decoration: none;
}

.sidebar-btn a:hover,
.sidebar-btn a:focus {
  color: #e82626;
  text-decoration: none;
}

.tags-list ul {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1rem;
  font-size: 13px;
}

.tags-list li {
  list-style-type: none;
  padding-right: 7px;
  font-size: 13px;
}

.tags-list li a {
  color: var(--color-text-secondary);
  font-size: 13px;
  text-decoration-line: none;
  font-family: monospace;

}

.tags-list li a:hover, li a:focus {
  color: #ffffff;
}

.social-container {
  padding-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.social-container a {
  transition: 0.7s;
  color: var(--color-text-secondary);
  padding: 0 3px;
}

.social-container a:hover {
  color: var(--color-text-white);
}

.social-container a i {
  font-size: 30px;
}

.sidebar-right {
  position: fixed;
  background-color: #000000;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
}

.tags-list {
  margin-top: 3em;
  width: 100%;
}

.tags-list ul {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 1rem;
    font-size: 13px;
    /*width: 350px;*/
}

.tags-list li {
  list-style-type: none;
  padding-right: 7px;
  font-size: 13px;
}

.tags-list li a {
  color: #555;
  font-size: 13px;
  text-decoration-line: none;
  font-family: monospace;

}

.tags-list li a:hover, li a:focus {
  color: #ffffff;
}

/* homepage.css */
.bio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em;
  gap: 2em;
}

.bio-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  width: 100%;
}

.bio-projects {
  width: 100%;
}

.bio_title, .project_title, .recentPost_title {
  font-size: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  color: var(--color-text-secondary);
  font-weight: bold;
  text-align: left;
}

.bio-description {
  font-size: 20px;
  color: #333;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: left;
}

.bio-description p {
  margin: 0;
}

.bio-description a {
  transition: 0.7s;
  text-decoration: none;
  font-size: 20px;
  color: var(--color-text-secondary);
  border-radius: 10px;
  font-family: 'Source Sans Pro', sans-serif;
}

.bio-description a:hover {
  color: #e82626;
}

/* responsive.css */
@media screen and (max-width: 1020px) {

  article {
    padding-top: 7em;
  }

  .site-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 10px;
  }

  .bio-container {
    padding-right: 0em;
    padding-left: 0em;
  }

  .sidebar-container {
    position: fixed;
    background: #000000;
    top: 0;
    width: 100%;
    height: 6em;
    z-index: 2;
  }

  .sidebar-bio {
    display: none;
  }

  .tags-list {
    display: none;
  }

  .title-container, .social-container {
    display: none;
  }

  .content {
    margin: 0;
    margin-top: 7em;
  }

  .avatar {
    width: 250px!important;
  }
  article {
    margin: 0 2em;
  }
  .project_title {
    font-size: 30px;
    padding: 0 0 30px;

  }
  .recentPost_title {
    font-size: 40px!important;
  }

  .sidebar-navigation h3 {
    display: none;
  }

  .card1 {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem!important;
    height: 100%!important;
  }

  .sidebar-navigation {
    margin: 0!important;
  }
  .sidebar-navigation > ul > li:last-child > a {
    border-bottom: none!important;
  }
  .sidebar-navigation {
    text-align: right;
  }

  .sidebar-navigation ul ul li:hover > a, .sidebar-navigation ul ul li.open > a, .sidebar-navigation ul ul li.active > a {
    text-align: center;
  }
  .sidebar-navigation ul ul li a {
    padding: 4px 10px;
    font-size: 16px;
  }
  .sidebar-navigation ul li a {
    font-size: 18px;
  }
}

@media screen and (max-width: 1124px) {
  .avatar {
    width: 270px;
  }
}

@media screen and (max-width: 481px) {
  .avatar {
    width: 200px!important;
  }
  .posts-list-item-description {
    font-size: 13px;
  }
  svg {
    height: 10px!important;
    width: 10px!important;
  }
}

@media screen and (max-width: 320px) {
  .avatar {
    width: 150px!important;
  }
}