{{ $baseUrl := .Site.BaseURL }}

<div class="bio-container">    
  <div class="bio-top">
    <a href="{{ $baseUrl }}about">
      <img class="avatar" src="{{ $baseUrl }}img/avatar.png" alt="Avatar">
    </a>
    <div class="bio-description">
      <p>Welcome to <b>Elad Gariany</b>'s undermaintained website and blog. <br><br>I'm a software engineer, musician and entrepreneur. I create every day and use this space to share some of my works, but mostly I use it to capture some of my best life memories and learnings.</p>
    </div>
  </div>

  <div class="bio-projects">
  </div>
</div>