{{ $baseUrl := .Site.BaseURL }}

<div>
  <div class="row start-xs">
    <h3>My Current Projects:</h3>
  </div>

  <div class="row">
    <div class="center-xs">
      <a href="https://polyversemusic.com"><img src="{{ $baseUrl }}img/polyversemusic.png" style="width: 250px; min-width: 0;"></a>
    </div>
    <div class="center-xs">
      <a href="http://www.sound.camp"><img src="{{ $baseUrl }}img/soundcamp.png" style="width: 250px; min-width: 0;"></a>
    </div>
    <div class="center-xs">
      <a href="http://www.therabbitholeorchestra.com"><img src="{{ $baseUrl }}img/rho.png" style="width: 250px; min-width: 0;"></a>
    </div>
  </div>
</div>