{{ $baseUrl := .Site.BaseURL }}

<div class="row">
  <div class="col-xs" style="display: flex;justify-content: center;flex-wrap: wrap;">
      {{ range .Data.Pages.GroupByDate "2006" -}}
      <ul class="posts-list">

        <!-- the year -->
        <div class="posts-title site-date-catalog">{{ .Key }}</div>

          {{ range .Pages }}

            {{ if not .Params.is_site_static_page }}

              {{ partial "list/item.html" . }}

            {{ end }}
          {{ end }}
      </ul>
      {{ end }}

  </div>
</div>