<div class="notification">
  
  <div style="cursor: pointer; display: flex; align-items: center; justify-content: center; background-color: rgb(55, 71, 79); position: absolute; top: 5px; right: 10px; width: 17px; height: 17px;"><p style="margin-top: 0px;">x</p>
  </div>

  <p style="font-size: 20px; margin-top: 1em;">Now accepting new gigs!</p>

  <p style="margin: 1em; max-width: 65%;">Hey! My name is Elad. I have 10 years experience as a software engineer, team leader and a music producer. I'm currently accepting new gigs as a freelance engineer. Will be happy to communicate over email: <a href="mailto:elad@gariany.com">elad@gariany.com</a></p>

</div>