{{ $baseUrl := .Site.BaseURL }}
<div class="row">
  <div class="projects_wrapper">
    <div class="row col-xs middle-xs left-xs">

      <div class="col-xs-3">
        <a target="_blank" href="https://www.digitalgoods.app/"><img src="{{ $baseUrl }}img/dg_cover.png"></a>
      </div>

      <div class="col-xs-3">
        <a target="_blank" href="http://www.sound.camp"><img src="{{ $baseUrl }}img/sc_cover.png"></a>
      </div>

      <div class="col-xs-3">
        <a target="_blank" href="https://polyversemusic.com"><img src="{{ $baseUrl }}img/polyversemusic.png"></a>
      </div>

      <div class="col-xs-3">
        <a target="_blank" href="http://www.therabbitholeorchestra.com"><img src="{{ $baseUrl }}img/rho.png" style="max-height: 60px;"></a>
      </div>
    </div>
  </div>
</div>